# [Quickstart: Pandas API on Spark](https://spark.apache.org/docs/latest/api/python/getting_started/quickstart_ps.html)

In [2]:
import pandas as pd
import numpy as np
import pyspark.pandas as ps
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

## [Object Creation](https://spark.apache.org/docs/latest/api/python/getting_started/quickstart_ps.html#Object-Creation)

Creating a pandas-on-Spark Series by passing a list of values, letting pandas API on Spark create a default integer index:

In [3]:
s = ps.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Creating a pandas-on-Spark DataFrame by passing a dict of objects that can be converted to series-like.

In [4]:
psdf = ps.DataFrame(
    {'a': [1, 2, 3, 4, 5, 6],
     'b': [100, 200, 300, 400, 500, 600],
     'c': ["one", "two", "three", "four", "five", "six"]},
    index=[10, 20, 30, 40, 50, 60])
psdf

    a    b      c
10  1  100    one
20  2  200    two
30  3  300  three
40  4  400   four
50  5  500   five
60  6  600    six

Creating a pandas DataFrame by passing a numpy array, with a datetime index and labeled columns:

In [6]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
pdf = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
pdf

                   A         B         C         D
2013-01-01 -0.574134  0.039970 -0.043471 -0.000972
2013-01-02 -0.605586  0.524548 -0.104702 -0.751927
2013-01-03  0.060989  0.577816 -0.315333 -0.235906
2013-01-04 -1.028707  0.041089  0.414686 -0.464434
2013-01-05 -1.355206 -0.161857 -0.274160 -0.088768
2013-01-06  0.094554 -0.504784 -0.843443  0.375087

Now, this pandas DataFrame can be converted to a pandas-on-Spark DataFrame

In [9]:
psdf = ps.from_pandas(pdf)
type(psdf)

pyspark.pandas.frame.DataFrame

In [10]:
psdf

                   A         B         C         D
2013-01-01 -0.574134  0.039970 -0.043471 -0.000972
2013-01-02 -0.605586  0.524548 -0.104702 -0.751927
2013-01-03  0.060989  0.577816 -0.315333 -0.235906
2013-01-04 -1.028707  0.041089  0.414686 -0.464434
2013-01-05 -1.355206 -0.161857 -0.274160 -0.088768
2013-01-06  0.094554 -0.504784 -0.843443  0.375087

Also, it is possible to create a pandas-on-Spark DataFrame from Spark DataFrame easily.

Creating a Spark DataFrame from pandas DataFrame

In [11]:
sdf = spark.createDataFrame(pdf)
sdf.show()

+-------------------+--------------------+--------------------+--------------------+
|                  A|                   B|                   C|                   D|
+-------------------+--------------------+--------------------+--------------------+
|-0.5741338127097217|0.039969608787876774|-0.04347125037806...|-9.72134950669696...|
|-0.6055863152314578|  0.5245481663979022|-0.10470151482767959| -0.7519268040843751|
|0.06098923257485652|  0.5778159097360585|-0.31533264185299537|-0.23590620674237106|
|-1.0287068124831682|0.041088627224900844|  0.4146860904961522|-0.46443408560789196|
|-1.3552057025422828| -0.1618566534862772| -0.2741604722453547|-0.08876843654833343|
| 0.0945540728367733| -0.5047842022180823| -0.8434432275369805|  0.3750869755191268|
+-------------------+--------------------+--------------------+--------------------+

Creating pandas-on-Spark DataFrame from Spark DataFrame.

In [13]:
psdf = sdf.pandas_api()
psdf

          A         B         C         D
0 -0.574134  0.039970 -0.043471 -0.000972
1 -0.605586  0.524548 -0.104702 -0.751927
2  0.060989  0.577816 -0.315333 -0.235906
3 -1.028707  0.041089  0.414686 -0.464434
4 -1.355206 -0.161857 -0.274160 -0.088768
5  0.094554 -0.504784 -0.843443  0.375087

Having specific dtypes . Types that are common to both Spark and pandas are currently supported.

In [14]:
psdf.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

Here is how to show top rows from the frame below.

Note that the data in a Spark dataframe does not preserve the natural order by default. The natural order can be preserved by setting `compute.ordered_head` option but it causes a performance overhead with sorting internally.

In [17]:
psdf.head()

          A         B         C         D
0 -0.574134  0.039970 -0.043471 -0.000972
1 -0.605586  0.524548 -0.104702 -0.751927
2  0.060989  0.577816 -0.315333 -0.235906
3 -1.028707  0.041089  0.414686 -0.464434
4 -1.355206 -0.161857 -0.274160 -0.088768

Displaying the index, columns, and the underlying numpy data.

In [19]:
psdf.index

Index([0, 1, 2, 3, 4, 5], dtype='int64')

In [21]:
psdf.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [23]:
psdf.to_numpy()

/home/lunix/spark/.venv/lib/python3.13/site-packages/pyspark/pandas/utils.py:1016: PandasAPIOnSparkAdviceWarning: `to_numpy` loads all data into the driver's memory. It should only be used if the resulting NumPy ndarray is expected to be small.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

array([[-5.74133813e-01,  3.99696088e-02, -4.34712504e-02,
        -9.72134951e-04],
       [-6.05586315e-01,  5.24548166e-01, -1.04701515e-01,
        -7.51926804e-01],
       [ 6.09892326e-02,  5.77815910e-01, -3.15332642e-01,
        -2.35906207e-01],
       [-1.02870681e+00,  4.10886272e-02,  4.14686090e-01,
        -4.64434086e-01],
       [-1.35520570e+00, -1.61856653e-01, -2.74160472e-01,
        -8.87684365e-02],
       [ 9.45540728e-02, -5.04784202e-01, -8.43443228e-01,
         3.75086976e-01]])

Showing a quick statistic summary of your data

In [24]:
psdf.describe()

25/04/21 17:00:11 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.568015  0.086130 -0.194404 -0.194487
std    0.577581  0.412020  0.410866  0.389452
min   -1.355206 -0.504784 -0.843443 -0.751927
25%   -1.028707 -0.161857 -0.315333 -0.464434
50%   -0.605586  0.039970 -0.274160 -0.235906
75%    0.060989  0.524548 -0.043471 -0.000972
max    0.094554  0.577816  0.414686  0.375087

## [Operations](https://spark.apache.org/docs/latest/api/python/getting_started/quickstart_ps.html#Operations)

### [Stats](https://spark.apache.org/docs/latest/api/python/getting_started/quickstart_ps.html#Stats)

In [25]:
psdf.mean()

A   -0.568015
B    0.086130
C   -0.194404
D   -0.194487
dtype: float64

### [Spark Configurations](https://spark.apache.org/docs/latest/api/python/getting_started/quickstart_ps.html#Spark-Configurations)

In [26]:
prev = spark.conf.get("spark.sql.execution.arrow.pyspark.enabled")  # Keep its default value.
ps.set_option("compute.default_index_type", "distributed")  # Use default index prevent overhead.
import warnings
warnings.filterwarnings("ignore")  # Ignore warnings coming from Arrow optimizations.

In [27]:
spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", True)
%timeit ps.range(300000).to_pandas()

107 ms ± 15.4 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [28]:
spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", False)
%timeit ps.range(300000).to_pandas()

736 ms ± 25.8 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [29]:
ps.reset_option("compute.default_index_type")
spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", prev)  # Set its default value back.

From running the test to compare execution time we can see that the arrow optimization is very significant.
The mean execution time for each loop was reduced by 85.46%.